

#errorNombre, #errorDireccion, #errorEmail, #errorPass, #errorPass2, #errorEmailLog, #errorPassLog, #errorEmailCont, #errorMensajeCont {
    margin: 3%;
    font-size: 0.9rem;
    color: red;
    font-style: italic;
    font-weight:500;
    display: none;
}

