    * {
        font-family: 'league spartan', sans-serif;
    }
    
    body {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;

    }

    #body {
        line-height: 1;
    }
    
    .master {
        display: column;
        width: 100%;
        height: 100%;
        flex-direction: column;
        
    }
    
    .navMenu {
        background-color: rgb(42, 42, 42);
        height: 7%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        position: fixed;
    }
    
    .logo {
        color: white;
        font-size: xx-large;
        font-weight: bold;
        padding-left: 2%;
        text-decoration: none;
    }

    .logo:hover {
        color: white;
    }
    
    .colorJardin {
        color: rgb(89, 236, 89);
    }

    
    .menu {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        align-items: center;
    }

    #toggleMenu {
        display: inline;
        padding: 0%;
        color: white;
    }

    #dropMenu {
        height: 20%;
    }
    
    
    li {
        padding-right: 2%;
        color: white;
    }
    
    .linkMenu:hover {
        cursor: pointer;
        color: rgb(89, 236, 89);
    }
    
    .linkMenu {
        text-decoration: none;
        color: white;
    }

    .linkMenu.active {
        color: #5cd85c;
    }
    
    
    
    .imgBackground {
        max-width: 100%;
        height: auto;
    }
    
    
    .main {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: normal;
        flex-direction: row;
        background-image: url(https://marketplace.canva.com/MADGyPCf3w4/4/screen_2x/canva-home-gardening---young-rucola-MADGyPCf3w4.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
        z-index: -1;
    }

    .containerLogoIndex {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 27vh;
    }
    
    .containerButton {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 27vh;
    }

    .button {
        width: 20%;
        height: 7%;
        background-color: #72d372;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2vw;
        text-decoration: none;
    }

    .button:hover {
        background-color: #5cd85c;
        color: white;
    }

    .logoMain {
        color: white;
        font-size: 10vw;
        font-weight: bold;
        padding-left: 5%;
        text-decoration: none;
    
    }

    .logoMain:hover {
        color: white;
    }

    .descripLogo {
        color: white;
        font-size: 4vw;
        font-weight: normal;
        text-decoration: none;
        font-weight: 100;
        text-decoration: none;
        font-style: italic;
    }

    .desLogoContainer {
        padding-left: 15vw;
    }

    @media (min-width: 1000px) {
        .fullMenu {
            display: flex;
            list-style: none;
            margin: 3%;
            width: 100%;
            justify-content: right;
        }

        .button {
            font-size: 2rem;
            width: 29%;
            height: 9%;
        }

        .logoMain {
            font-size: 10vw;
        }

        .responsiveMenu {
            display: none;
        }
    }

    @media (min-width: 600px) and (max-width:1000px){
        .fullMenu {
            display: flex;
            list-style: none;
            margin: 3%;
            width: 100%;
            justify-content: right;
        }
    
        .responsiveMenu {
            display: none;
        }

        .button {
            font-size: 2rem;
            width: 48%;
            height: 9%;
            
        }

        .logoMain {
            font-size: 13vw;
        }
    }

    @media (max-width: 600px) {

        .fullMenu {
            display: none;
        }

        .responsiveMenu {
            display: flex;
            list-style: none;
            margin: 3%;
            width: 100%;
            justify-content: right;
        }

        li {
            padding-right: 7%;
        }

        i {
            font-size: 1.5rem;
            color: white;
        }

        i:hover {
            color: #5cd85c;
        }
        .containerButton {
            width: 100%;
            height: 45%;
            padding-bottom: 0vh;
            align-items: flex-start;
        }
        .button {
            width: 35%;
            height: 13%;
            font-size: 1.5rem;
        }

        .containerLogoIndex { 
            width: 100%;
            height: 61%;
            padding-bottom: 0vh;
        }

        .main {
            align-items: center;
            flex-direction: column;
            height: 100vh;
            
        }

        .logoMain {
            color: white;
            font-size: 20vw;
            font-weight: bold;
            padding-left: 5%;
            text-decoration: none;
        
        }

        .descripLogo {
            color: white;
            font-size: 6.5vw;
            font-weight: normal;
            text-decoration: none;
            font-weight: 100;
            text-decoration: none;
            font-style: italic;
        }
    }
