* {
  font-family: 'league spartan', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  text-align: center;
}

/* Menu */

.fullMenu {
  display: flex;
  list-style: none;
  margin: 3%;
  width: 100%;
  justify-content: right;
}

.linkMenu {
  text-decoration: none;
  color: white;
}

.linkMenu:hover {
  color: #5cd85c;
}

.responsiveMenu {
  display: none;
}


.navMenu {
  background-color: rgb(42, 42, 42);
  height: 7%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  position: fixed;
}

.logo {
  color: white;
  font-size: xx-large;
  font-weight: bold;
  padding-left: 2%;
  text-decoration: none;
}

.colorJardin {
  color: rgb(89, 236, 89);
}


.menu {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  margin: 3%;
  width: 100%;
  justify-content: right;
}

li {
  padding-right: 2%;
  color: white;
}

li:hover {
  cursor: pointer;
  color: rgb(89, 236, 89);
}

a {
  text-decoration: none;
  color: white;
}

.logo:hover {
  color: white;
}

/* #### -Fin menu- #### */

#fb {
  background-color: white;
}

#fb-res {
  background-color: silver;
}

.grid {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  box-sizing: border-box;
}

.row {
  margin-bottom: 10px;
}

.box {
  border: 1px solid #333;
  background-color: #FFF;
  height: 30px;
  padding-top: 10px;
  margin-bottom: 5px;
}
img {
  width: 200px;
  height: 175px;
}
/*
.col-md-2 .box {
  background-color: gold;
}

.col-lg-1 .box {
  background-color: aquamarine;
}
*/