/*    ================================================ 
                Carrusel de imagenes                     
    ================================================ */
.carousel-inner{
    max-height: 39rem;
}

/*    ================================================ 
                Centrado                     
    ================================================ */

.centrado{
    text-align: center;
}
.centradito{
    align-content: center;
}

.buttones{
    /*Change the width as much as you like, but make sure 
    margin-left and margin-right + width = 100%*/
    width:50%;
    margin-left:25%;
    margin-right:25%;
    padding-top: 3%;
}
